
.square-size {
  position: relative;
  width: 100%;
  &:before {
    content: "";
    display: block;
    padding-top: 100%;
  }
  &__content {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
  }
}

.btn .fas {
  line-height: inherit !important;
}

.hidden_submit {
  margin: 0px;
  padding: 0px;
  width: 0px;
  height: 0px;
  border: 0px;

  position: absolute;
}

.timer {
  &--active {
    background-color: rgba(theme-color('primary'), .1);
  }
}

.pulse {
  background-color: rgba(184,218,255,0);
  animation-name: pulseColor;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

form {
  margin: 0px;
}

@keyframes pulseColor {
  0% {
    background-color: rgba(184,218,255,0);
  }
  25% {
    background-color: rgba(184,218,255,0);
  }
  50% {
    background-color: rgba(184,218,255,1);
  }
  75% {
    background-color: rgba(184,218,255,0);
  }
  100% {
    background-color: rgba(184,218,255,0);
  }
}

@keyframes flashingtext {
  0% {color:rgba(0,0,0,1);}
  20% {color: rgba(0,0,0,0);}
  40% {color: rgba(0,0,0,1);}
}

@keyframes flashingbg {
  0% {}
  20% {background-color: transparent }
  40% {}
}


.flashing {
  &--text{
    animation-name: flashingtext;
  }
  &--bg {
    animation-name: flashingbg;
  }
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}