$fa-font-path: '../../../node_modules/@fortawesome/fontawesome-free/webfonts';
$enable-gradients: true;
$enable-shadows: true;

$theme-colors: (
  "primary": #28a59a
);

$border-radius: 2px;

$btn-padding-y: 0px;
$btn-padding-x: 16px;
$btn-line-height: 36px;
$btn-font-size: 14px;
$btn-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);